{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type='text/css' href="{% static 'memtrainer/theme.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<title>Memory Trainer</title>
</head>
<body>
	<div class="card mb-3 text-center">
		<h3 class="card-header">Memory Trainer</h3>
		<div class="card-body">
			<p class="card-text">Enter the number you hear in the reverse order.</p>
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</body>
</html>

