{% extends 'memtrainer/base.html' %}
{% block content %}
	<audio controls class="w-100">
		<source src="{{ sequence.audio.url }}">
		Your browser does not support the audio element.
	</audio>
	<input type="text" id="answer" placeholder="Answer" class="form-control mt-3">
	<button type="button" id="submitBtn" class="btn btn-primary btn-lg w-100 mt-3 mb-3">Submit</button>
	<button id="restartBtn" style="display:none" onclick="location.href='{% url 'loading' %}'" class="btn btn-secondary btn-lg w-100">Try again!</button>
	<div id="resultSuccess" style="display:none" class="alert alert-dismissible alert-success fixed-bottom">
  		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  		<strong>Well done!</strong>
	</div>
	<div id="resultFailure" style="display:none" class="alert alert-dismissible alert-danger fixed-bottom">
  		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Oh snap!</strong> Answer was: {{ sequence.text }}.
	</div>
	<script>
		$(document).ready(function() {
			$('#submitBtn').click(function() {
				if ($("#answer").val() === '{{ sequence.text }}') {
					$("#resultSuccess").show();
					$("#resultFailure").hide();
				} else {
					$("#resultFailure").show();
					$("#resultSuccess").hide();
				}
				$("#restartBtn").show();
			});
		});
	</script>
{% endblock content %}

