{% extends 'memtrainer/base.html' %}
{% block content %}
	<div class="spinner-border" role="status"></div>
	<p>Generating sequence...</p>
	<script>
		$(document).ready(function() {
			window.location.replace('{% url 'exercise' %}');
		});
	</script>
{% endblock content %}

